<div class="form-container">
    <h2 class="mb-4">View all certificates</h2>
    <div class="card" *ngFor="let x of lista">
      <div class="card-body">
        <h3>SN: {{x.serialNumber}}</h3>
        <h4>CN: {{x.commonName}}</h4>
        <h4>cert type: {{x.certificateType}}</h4>
        <h4>owner: {{x.userEmail}}</h4>
        <h4>valid from: {{x.validFrom}}</h4>
        <h4>valid to: {{x.validTo}}</h4>
        <h4>revocation status: {{x.revokationStatus}}</h4>
        <h4>validity status: {{x.isValid}}</h4>
        <div class="buttondiv">
            <button *ngIf="!(x.revokationStatus=='REVOKED') || !(x.isValid=='NOTVALID')"  type="button" class="btn redBtn text-uppercase wide-btn" (click)="revoke(x.serialNumber)">Revoke</button>
            <button type="button" class="btn greenBtn text-uppercase wide-btn" (click)="download(x.serialNumber)">Download</button>
        </div>
    </div>
    </div>
  </div>