<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="your.application.package" level="DEBUG"/>

    <!-- Console Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logId}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- File Appender -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>src/main/resources/logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logId}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="bezbednosttim6.controller.UserController" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.controller.PasswordResetController" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.controller.PasswordRenewController" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.controller.CertificateController" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.UserService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.PasswordRenewService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.PasswordResetService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.CertificateService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.CertificateRequestService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.CertificateValidationService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="bezbednosttim6.service.DownloadFileService" level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>


</configuration>