<div class="admin-main">
    <h1>Welcome</h1>
  
    <ul>
      <li>
        <a href="check-cert-validity">Check Certificate validity</a>
      </li>
  
      <li>
        <a href="request-cert">Request a Certificate</a>
      </li>
  
      <li>
        <a href="view-all-certs">View all Certificates</a>
      </li>
  
      <li>
        <a href="view-sent-requests">View Sent Requests</a>
      </li>
  
      <li>
        <a href="view-received-requests">View Received Requests</a>
      </li>
  
    </ul>
    <button (click)="logout()">Logout</button>
  </div>
  