.form-container {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    background-color: #66bfe0;
  }
  
  h2{
    text-align: center;
  }
  
  .card{
    background: #051f4f;
    color: #EBE8D7;
    border-radius: 10px;
    margin: 1rem;
    width: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .card-body {
    height: fit-content;
    text-align: center;
  }
  
  
  .transparentBtn {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    color: black;
    position: center;
    border-radius: 15px;
    border-color: black;
    margin: 1rem;
  }
  .redBtn {
    background: #dc4436;
    backdrop-filter: blur(2px);
    color: #485162;
    position: center;
    border-radius: 15px;
    border-color: #485162;
    width: 49%;
    margin: 0.2rem;
  }

  .greenBtn {
    background: #3edc36;
    backdrop-filter: blur(2px);
    color: #ffffff;
    position: center;
    border-radius: 15px;
    border-color: #485162;
    width: 49%;
  }
  
  input{
    width: 80%;
    text-align: center;
    position: center;
  }
  
  .input1{
    height: 3rem;
    width: 90%;
    text-align: center;
    border-color: black;
    border-radius: 15px;
    position: center;
    margin: 1rem;
  }
  
  
  .active1{
    width:2rem;
    height: 2rem;
    background-color: #BFDC36;
    border-color: #EBE8D7;
    border-style: double;
    border-radius: 50%;
    float: right;
    margin-right: 2rem;
  }
  
  .active2{
    width:2rem;
    height: 2rem;
    background-color: #DC7C36;
    border-color: #EBE8D7;
    border-style: double;
    border-radius: 50%;
    float: right;
    margin-right: 2rem;
  }
  
  .card-up{
    margin-top: 1rem;
  }
  
  .my-dialog-container-class{
    background-color: #485162;
    color: #EBE8D7;
  }

  .buttondiv {
    display: inline-flex;
    place-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
  }

  .position1{
    display: grid;
    place-items: end;
  }

  .newGreen{
    background: #BFDC36;
    backdrop-filter: blur(2px);
    color: #485162;
    position: center;
    border-radius: 2rem;
    border-style: none;
    width: fit-content;
    padding: 1rem;
    margin-right: 1rem;
  }
  
  
  