<div class="user-main">
    <h1>Menu</h1>
  
    <ul>
      <li>
        <a href="check-cert-validity">Check certificate validity</a>
      </li>
  
      <li>
        <a href="request-cert">Request a certificate</a>
      </li>
  
      <li>
        <a href="view-all-certs">View all certificates</a>
      </li>
  
      <li>
        <a href="view-sent-requests">View sent requests</a>
      </li>
  
      <li>
        <a href="view-received-requests">View received requests</a>
      </li>

      <li>
        <a *ngIf="isAdmin" href="view-all-requests">View all requests</a>
      </li>
  
    </ul>
    <button (click)="logout()">Logout</button>
  </div>
  