.user-main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #ddd;
  }
  
  button {
    padding: 10px 20px;
    background-color: #292c29;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #051f4f;
  }
  