<div>
    <div class="div green-card">
        <div *ngIf='!codeSent && !hasToken' class="form">
            <h1>Reset Password</h1>
            <div>
                <input type="radio" value="email" name="mode" [formControl]="selectModeForm"> Verify with Email
                <br>
                <input type="radio" value="phone" name="mode" [formControl]="selectModeForm"> Verify with SMS
                <br>
            </div>
            <div *ngIf="selectModeForm.value == 'email'">
                <p>Enter your email, you will be sent a link to reset your password</p>
            <form 
                method="POST"
                [formGroup]="emailForm" 
                fxLayout="row"
                fxLayoutAlign="space-between center"
            >
                <div class="form-outline form-white mb-4">
                    <input type="text" id="typeEmailX" name="email" class="element form-control form-control-lg" placeholder="E-mail" formControlName="email"/>
                </div>
            </form>
            <button class="btn btn-outline-light btn-lg px-5" (click)="sendReset()">Send</button>
            </div >
            <div *ngIf="selectModeForm.value == 'phone'">
                <p>Enter your mobile phone number, you will be sent a code to reset your password</p>
                <form 
                    method="POST"
                    [formGroup]="emailForm" 
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typeEmailX" name="email" class="element form-control form-control-lg" placeholder="Phone Number" formControlName="email"/>
                    </div>
                </form>
                <button class="btn btn-outline-light btn-lg px-5" (click)="sendResetPhone()">Send</button>
            </div>
        </div>

        <div *ngIf='codeSent && !hasToken &&!byPhone' class="sent">
            <h1>Email sent!</h1>
            <p>Check your email, there should be a link to reset your password</p>
            <button class="btn btn-outline-light btn-lg px-5" (click)="backToLogin()">Back</button>
        </div>
        <div *ngIf='codeSent && !hasToken && byPhone' class="sent">
            <h1>SMS sent!</h1>
            <p>You should recieve a code on your phone</p>
            <form
            method="POST"
            [formGroup]="SMSPasswordForm"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            >
            <div class="form-outline form-white mb-4">
                <input type="text" id="typeCodeX" name="password" class=" element form-control form-control-lg" placeholder="SMS Code" formControlName="code"/>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" name="password" class=" element form-control form-control-lg" placeholder="New Password" formControlName="password"/>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" id="typeRepeatPasswordX" name="repeatPassword" class=" element form-control form-control-lg" placeholder="Repeat New Password" formControlName="repeatPassword"/>
            </div>
            <button class="btn btn-outline-light btn-lg px-5" (click)="confirmResetSMS()">Confirm</button>
            </form>
        </div>

        <div *ngIf='hasToken' class="reset-password">
            <h1>Reset Password</h1>
            <p>Enter new password:</p>
            <form
            method="POST"
            [formGroup]="passwordForm"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            >
            <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" name="password" class=" element form-control form-control-lg" placeholder="New Password" formControlName="password"/>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" id="typeRepeatPasswordX" name="repeatPassword" class=" element form-control form-control-lg" placeholder="Repeat New Password" formControlName="repeatPassword"/>
            </div>
            <button class="btn btn-outline-light btn-lg px-5" (click)="confirmReset()">Confirm</button>
            </form>
        </div>

    </div>
</div>

