<div>
    <div class="div green-card">

        <div *ngIf='!hasToken' class="sent">
            <h1>Your password has expired.</h1>
            <h1>Email sent!</h1>
            <p>Check your email, there should be a link to renew your password</p>
        </div>

        <div *ngIf='hasToken' class="reset-password">
            <h1>Renew Password</h1>
            <p>Enter old and new passwords:</p>
            <form
            method="POST"
            [formGroup]="passwordForm"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            >
            <div class="form-outline form-white mb-4">
                <input type="password" id="typeOldPasswordX" name="oldPassword" class="element form-control form-control-lg" placeholder="Old Password" formControlName="oldPassword"/>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" name="password" class="element form-control form-control-lg" placeholder="New Password" formControlName="password"/>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" id="typeRepeatPasswordX" name="repeatPassword" class="element form-control form-control-lg" placeholder="Repeat New Password" formControlName="repeatPassword"/>
            </div>
            <button class="btn btn-outline-light btn-lg px-5" (click)="confirmRenew()">Confirm</button>
            </form>
        </div>

    </div>
</div>

