<div class="form-container">
    <h2 class="mb-4">ALL CERTIFICATE REQUESTS</h2>
    <div class="card" *ngFor="let request of requests">
      <div class="card-body">
        <h3>{{"Request id: " + request.id}}</h3>
        <h4>Type: {{request.certificateType}}</h4>
        <h4>Requester: {{request.userEmail}}</h4>
        <h4>Issuer: {{request.issuerCertificateId}}</h4>
        <h4>Time of Request: {{request.timeOfRequest}}</h4>
        <h4>Common Name: {{request.commonName}}</h4>
        <h4>Request status: {{request.status}}</h4>
        <h4 *ngIf="request.status=='REJECTED'">Rejection reason: {{request.rejection}}</h4>
    </div>
    </div>
  </div>